.payForm{
    margin:150px auto;
    box-shadow: 0 2px 2px 0 grey,2px 4px 4px 2px grey;
    padding:20px;
    width: 40%;
}

@media screen and (max-width:768px){
    .payForm{
        width:80%;
    }
}